In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
import time
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import zipfile
import os

In [3]:
# 파일읽어오기

# a = pd.read_excel("dataset/2018건물노후도_주거용.xlsx", sheet_name = "통계", encoding='euc-kr', header = 1)

In [2]:
aa = pd.read_csv("dataset/2018건물노후도_주거용_cc.csv", encoding='euc-kr', header = 1)

In [3]:
aa

,구분,구분.1,구분.2,합계,10년미만,10~15년미만,15~20년미만,20~25년미만,25~30년미만,30~35년미만,35년이상,기타
0,서울특별시,강남구,개포동,"1,151",129,14,116,110,252,239,237,54
1,서울특별시,강남구,논현동,"2,452",241,78,711,577,416,170,257,2
2,서울특별시,강남구,대치동,"1,461",101,81,451,312,133,169,202,12
3,서울특별시,강남구,도곡동,530,47,63,84,85,86,89,75,1
4,서울특별시,강남구,삼성동,"1,280",90,109,347,260,142,157,159,16
...,...,...,...,...,...,...,...,...,...,...,...,...
462,서울특별시,중랑구,면목동,"10,478","1,083",236,570,819,"4,239","1,278","2,242",11
463,서울특별시,중랑구,묵동,"2,600",557,93,304,251,581,202,560,52
464,서울특별시,중랑구,상봉동,"2,184",330,74,200,166,631,267,492,24
465,서울특별시,중랑구,신내동,802,160,13,37,162,197,104,70,59
466,서울특별시,중랑구,중화동,"3,621",438,56,230,272,"1,208",467,941,9

In [34]:
for i in aa.index:
    print(i+1, aa.loc[i, '구분.1'])

1 강남구
2 강남구
3 강남구
4 강남구
5 강남구
6 강남구
7 강남구
8 강남구
9 강남구
10 강남구
11 강남구
12 강남구
13 강남구
14 강남구
15 강동구
16 강동구
17 강동구
18 강동구
19 강동구
20 강동구
21 강동구
22 강동구
23 강동구
24 강북구
25 강북구
26 강북구
27 강북구
28 강서구
29 강서구
30 강서구
31 강서구
32 강서구
33 강서구
34 강서구
35 강서구
36 강서구
37 강서구
38 강서구
39 강서구
40 강서구
41 관악구
42 관악구
43 관악구
44 광진구
45 광진구
46 광진구
47 광진구
48 광진구
49 광진구
50 광진구
51 구로구
52 구로구
53 구로구
54 구로구
55 구로구
56 구로구
57 구로구
58 구로구
59 구로구
60 구로구
61 금천구
62 금천구
63 금천구
64 노원구
65 노원구
66 노원구
67 노원구
68 노원구
69 도봉구
70 도봉구
71 도봉구
72 도봉구
73 동대문구
74 동대문구
75 동대문구
76 동대문구
77 동대문구
78 동대문구
79 동대문구
80 동대문구
81 동대문구
82 동대문구
83 동작구
84 동작구
85 동작구
86 동작구
87 동작구
88 동작구
89 동작구
90 동작구
91 동작구
92 마포구
93 마포구
94 마포구
95 마포구
96 마포구
97 마포구
98 마포구
99 마포구
100 마포구
101 마포구
102 마포구
103 마포구
104 마포구
105 마포구
106 마포구
107 마포구
108 마포구
109 마포구
110 마포구
111 마포구
112 마포구
113 마포구
114 마포구
115 마포구
116 마포구
117 마포구
118 서대문구
119 서대문구
120 서대문구
121 서대문구
122 서대문구
123 서대문구
124 서대문구
125 서대문구
126 서대문구
127 서대문구
128 서대문구
129 서대문구
130 서대문구
131 서대문구
132 서대문구
133 서대문구
134 서대문구
135 서대문구
136 서대문구
137 서대문구
138 서초구
139 서초구
140 서초구
141 서초구
142 서초구
143 서초구
144 서초구
145 서초구
146 서초구
147 서초구
148 성동구
149 성동구
150 성동구
151 성동구
152 성동구
153 성동구
154 성동구
155 성동구
156 성동구
157 성동구
158 성동구
159 성동구
160 성동구
161 성동구
162 성동구
163 성동구
164 성동구
165 성북구
166 성북구
167 성북구
168 성북구
169 성북구
170 성북구
171 성북구
172 성북구
173 성북구
174 성북구
175 성북구
176 성북구
177 성북구
178 성북구
179 성북구
180 성북구
181 성북구
182 성북구
183 성북구
184 성북구
185 성북구
186 성북구
187 성북구
188 성북구
189 성북구
190 성북구
191 성북구
192 성북구
193 성북구
194 성북구
195 성북구
196 성북구
197 성북구
198 성북구
199 성북구
200 성북구
201 성북구
202 성북구
203 성북구
204 송파구
205 송파구
206 송파구
207 송파구
208 송파구
209 송파구
210 송파구
211 송파구
212 송파구
213 송파구
214 송파구
215 송파구
216 송파구
217 양천구
218 양천구
219 양천구
220 영등포구
221 영등포구
222 영등포구
223 영등포구
224 영등포구
225 영등포구
226 영등포구
227 영등포구
228 영등포구
229 영등포구
230 영등포구
231 영등포구
232 영등포구
233 영등포구
234 영등포구
235 영등포구
236 영등포구
237 영등포구
238 영등포구
239 영등포구
240 영등포구
241 영등포구
242 영등포구
243 영등포구
244 영등포구
245 영등포구
246 영등포구
247 영등포구
248 영등포구
249 영등포구
250 영등포구
251 영등포구
252 영등포구
253 영등포구
254 용산구
255 용산구
256 용산구
257 용산구
258 용산구
259 용산구
260 용산구
261 용산구
262 용산구
263 용산구
264 용산구
265 용산구
266 용산구
267 용산구
268 용산구
269 용산구
270 용산구
271 용산구
272 용산구
273 용산구
274 용산구
275 용산구
276 용산구
277 용산구
278 용산구
279 용산구
280 용산구
281 용산구
282 용산구
283 용산구
284 용산구
285 용산구
286 용산구
287 용산구
288 용산구
289 용산구
290 은평구
291 은평구
292 은평구
293 은평구
294 은평구
295 은평구
296 은평구
297 은평구
298 은평구
299 은평구
300 은평구
301 종로구
302 종로구
303 종로구
304 종로구
305 종로구
306 종로구
307 종로구
308 종로구
309 종로구
310 종로구
311 종로구
312 종로구
313 종로구
314 종로구
315 종로구
316 종로구
317 종로구
318 종로구
319 종로구
320 종로구
321 종로구
322 종로구
323 종로구
324 종로구
325 종로구
326 종로구
327 종로구
328 종로구
329 종로구
330 종로구
331 종로구
332 종로구
333 종로구
334 종로구
335 종로구
336 종로구
337 종로구
338 종로구
339 종로구
340 종로구
341 종로구
342 종로구
343 종로구
344 종로구
345 종로구
346 종로구
347 종로구
348 종로구
349 종로구
350 종로구
351 종로구
352 종로구
353 종로구
354 종로구
355 종로구
356 종로구
357 종로구
358 종로구
359 종로구
360 종로구
361 종로구
362 종로구
363 종로구
364 종로구
365 종로구
366 종로구
367 종로구
368 종로구
369 종로구
370 종로구
371 종로구
372 종로구
373 종로구
374 종로구
375 종로구
376 종로구
377 종로구
378 종로구
379 종로구
380 종로구
381 종로구
382 종로구
383 종로구
384 종로구
385 종로구
386 종로구
387 종로구
388 중구
389 중구
390 중구
391 중구
392 중구
393 중구
394 중구
395 중구
396 중구
397 중구
398 중구
399 중구
400 중구
401 중구
402 중구
403 중구
404 중구
405 중구
406 중구
407 중구
408 중구
409 중구
410 중구
411 중구
412 중구
413 중구
414 중구
415 중구
416 중구
417 중구
418 중구
419 중구
420 중구
421 중구
422 중구
423 중구
424 중구
425 중구
426 중구
427 중구
428 중구
429 중구
430 중구
431 중구
432 중구
433 중구
434 중구
435 중구
436 중구
437 중구
438 중구
439 중구
440 중구
441 중구
442 중구
443 중구
444 중구
445 중구
446 중구
447 중구
448 중구
449 중구
450 중구
451 중구
452 중구
453 중구
454 중구
455 중구
456 중구
457 중구
458 중구
459 중구
460 중구
461 중구
462 중랑구
463 중랑구
464 중랑구
465 중랑구
466 중랑구
467 중랑구

In [4]:
# 들어온 파일 확인

aa.head()

,구분,구분.1,구분.2,합계,10년미만,10~15년미만,15~20년미만,20~25년미만,25~30년미만,30~35년미만,35년이상,기타
0,서울특별시,강남구,개포동,"1,151",129,14,116,110,252,239,237,54
1,서울특별시,강남구,논현동,"2,452",241,78,711,577,416,170,257,2
2,서울특별시,강남구,대치동,"1,461",101,81,451,312,133,169,202,12
3,서울특별시,강남구,도곡동,530,47,63,84,85,86,89,75,1
4,서울특별시,강남구,삼성동,"1,280",90,109,347,260,142,157,159,16

In [5]:
aa

,구분,구분.1,구분.2,합계,10년미만,10~15년미만,15~20년미만,20~25년미만,25~30년미만,30~35년미만,35년이상,기타
0,서울특별시,강남구,개포동,"1,151",129,14,116,110,252,239,237,54
1,서울특별시,강남구,논현동,"2,452",241,78,711,577,416,170,257,2
2,서울특별시,강남구,대치동,"1,461",101,81,451,312,133,169,202,12
3,서울특별시,강남구,도곡동,530,47,63,84,85,86,89,75,1
4,서울특별시,강남구,삼성동,"1,280",90,109,347,260,142,157,159,16
...,...,...,...,...,...,...,...,...,...,...,...,...
462,서울특별시,중랑구,면목동,"10,478","1,083",236,570,819,"4,239","1,278","2,242",11
463,서울특별시,중랑구,묵동,"2,600",557,93,304,251,581,202,560,52
464,서울특별시,중랑구,상봉동,"2,184",330,74,200,166,631,267,492,24
465,서울특별시,중랑구,신내동,802,160,13,37,162,197,104,70,59
466,서울특별시,중랑구,중화동,"3,621",438,56,230,272,"1,208",467,941,9

In [49]:
# 공란인 행 제거 행 인덱스 번호가 0, 1, 2인 행 삭제

# a = a.drop([0])

In [6]:
# 삭제된 데이터 확인

aa.head()

,구분,구분.1,구분.2,합계,10년미만,10~15년미만,15~20년미만,20~25년미만,25~30년미만,30~35년미만,35년이상,기타
0,서울특별시,강남구,개포동,"1,151",129,14,116,110,252,239,237,54
1,서울특별시,강남구,논현동,"2,452",241,78,711,577,416,170,257,2
2,서울특별시,강남구,대치동,"1,461",101,81,451,312,133,169,202,12
3,서울특별시,강남구,도곡동,530,47,63,84,85,86,89,75,1
4,서울특별시,강남구,삼성동,"1,280",90,109,347,260,142,157,159,16

In [13]:
# iloc을 활용한 행, 열 인덱싱
# iloc [행 , 열] 행, 열에 ':' = 연속된 값, '[]' = 불연속 값
# 열만 추출하고 싶으면 [:, ] 행에 ':'꼭 있어야 함.

# 80~109 행, 1열, 2열, 4열 추출

for i in aa[:14]:
#     if i.iloc[1]=='강남구':
#         print(i)
    print(i)
print(type(aa.iloc[1, 1]))
aa['합계']

구분
구분.1
구분.2
합계
10년미만
10~15년미만
15~20년미만
20~25년미만
25~30년미만
30~35년미만
35년이상
기타
<class 'str'>

0         1,151
1         2,452
2         1,461
3           530
4         1,280
         ...
462      10,478
463       2,600
464       2,184
465         802
466       3,621
Name: 합계, Length: 467, dtype: object

In [8]:
bb = aa.iloc[:, [3]]
bb
print(type(bb))

<class 'pandas.core.frame.DataFrame'>

In [17]:
sum = 0
for i in bb.iloc[:14,0]:
    sum = sum + int(i.strip().replace(',', ''))
    
print(sum)

13253

In [24]:
year = aa.iloc[1:112, [1,2,3]] # 강남구 끝, 1열의 값을 따라서 자동화 하면 편할듯 함.
year

    구분.1 구분.2        합계
1    강남구  논현동    2,452
2    강남구  대치동    1,461
3    강남구  도곡동      530
4    강남구  삼성동    1,280
5    강남구  세곡동      305
..   ...  ...       ...
107  마포구  아현동    1,355
108  마포구  연남동    1,616
109  마포구  염리동      789
110  마포구  용강동      215
111  마포구   중동      270

[111 rows x 3 columns]

In [25]:
type(year)

pandas.core.frame.DataFrame

In [26]:
sum =0

# '-'인 값을 제외한 강남구의 총 건물 수

for i in year.iloc[:, 2]:
    if(i == '  - '):
        continue
    if(int(i.strip().replace(',', '')) > 0):
        print(int(i.strip().replace(',', '')))
        sum = sum+int(i.strip().replace(',', ''))

2452
1461
530
1280
305
160
738
177
2606
299
980
321
793
168
1147
1545
1130
654
489
3279
2599
5136
10349
2761
8782
909
301
390
1799
20
991
1460
254
2691
373
41
28
68
11107
791
10177
14198
483
3919
1704
1013
5460
6621
1685
1242
3869
2454
6347
664
533
1965
263
135
86
769
5522
5550
2184
4071
1340
1325
376
2214
3108
3702
3530
2231
271
2316
4788
2445
2962
3009
1719
846
2253
2832
1588
171
706
5267
648
6318
1880
2541
1546
69
571
124
707
644
413
118
2324
404
602
1411
2020
422
792
11
1355
1616
789
215
270

In [27]:
print(sum) #강남구 건물수

229087

In [71]:
aa.head(10)

,구분,구분.1,구분.2,합계,10년미만,10~15년미만,15~20년미만,20~25년미만,25~30년미만,30~35년미만,35년이상,기타
0,서울특별시,강남구,개포동,"1,151",129,14,116,110,252,239,237,54
1,서울특별시,강남구,논현동,"2,452",241,78,711,577,416,170,257,2
2,서울특별시,강남구,대치동,"1,461",101,81,451,312,133,169,202,12
3,서울특별시,강남구,도곡동,530,47,63,84,85,86,89,75,1
4,서울특별시,강남구,삼성동,"1,280",90,109,347,260,142,157,159,16
5,서울특별시,강남구,세곡동,305,163,15,11,6,3,27,80,-
6,서울특별시,강남구,수서동,160,43,1,3,22,55,27,2,7
7,서울특별시,강남구,신사동,738,32,15,181,237,93,55,122,3
8,서울특별시,강남구,압구정동,177,2,-,-,4,1,13,129,28
9,서울특별시,강남구,역삼동,"2,606",333,147,884,580,306,164,191,1

In [74]:
aa.loc[8,'10~15년미만']

'  - '

In [58]:
for i in aa.index:
    print(i, aa.loc[i, '구분.1'])

0 강남구
1 강남구
2 강남구
3 강남구
4 강남구
5 강남구
6 강남구
7 강남구
8 강남구
9 강남구
10 강남구
11 강남구
12 강남구
13 강남구
14 강동구
15 강동구
16 강동구
17 강동구
18 강동구
19 강동구
20 강동구
21 강동구
22 강동구
23 강북구
24 강북구
25 강북구
26 강북구
27 강서구
28 강서구
29 강서구
30 강서구
31 강서구
32 강서구
33 강서구
34 강서구
35 강서구
36 강서구
37 강서구
38 강서구
39 강서구
40 관악구
41 관악구
42 관악구
43 광진구
44 광진구
45 광진구
46 광진구
47 광진구
48 광진구
49 광진구
50 구로구
51 구로구
52 구로구
53 구로구
54 구로구
55 구로구
56 구로구
57 구로구
58 구로구
59 구로구
60 금천구
61 금천구
62 금천구
63 노원구
64 노원구
65 노원구
66 노원구
67 노원구
68 도봉구
69 도봉구
70 도봉구
71 도봉구
72 동대문구
73 동대문구
74 동대문구
75 동대문구
76 동대문구
77 동대문구
78 동대문구
79 동대문구
80 동대문구
81 동대문구
82 동작구
83 동작구
84 동작구
85 동작구
86 동작구
87 동작구
88 동작구
89 동작구
90 동작구
91 마포구
92 마포구
93 마포구
94 마포구
95 마포구
96 마포구
97 마포구
98 마포구
99 마포구
100 마포구
101 마포구
102 마포구
103 마포구
104 마포구
105 마포구
106 마포구
107 마포구
108 마포구
109 마포구
110 마포구
111 마포구
112 마포구
113 마포구
114 마포구
115 마포구
116 마포구
117 서대문구
118 서대문구
119 서대문구
120 서대문구
121 서대문구
122 서대문구
123 서대문구
124 서대문구
125 서대문구
126 서대문구
127 서대문구
128 서대문구
129 서대문구
130 서대문구
131 서대문구
132 서대문구
133 서대문구
134 서대문구
135 서대문구
136 서대문구
137 서초구
138 서초구
139 서초구
140 서초구
141 서초구
142 서초구
143 서초구
144 서초구
145 서초구
146 서초구
147 성동구
148 성동구
149 성동구
150 성동구
151 성동구
152 성동구
153 성동구
154 성동구
155 성동구
156 성동구
157 성동구
158 성동구
159 성동구
160 성동구
161 성동구
162 성동구
163 성동구
164 성북구
165 성북구
166 성북구
167 성북구
168 성북구
169 성북구
170 성북구
171 성북구
172 성북구
173 성북구
174 성북구
175 성북구
176 성북구
177 성북구
178 성북구
179 성북구
180 성북구
181 성북구
182 성북구
183 성북구
184 성북구
185 성북구
186 성북구
187 성북구
188 성북구
189 성북구
190 성북구
191 성북구
192 성북구
193 성북구
194 성북구
195 성북구
196 성북구
197 성북구
198 성북구
199 성북구
200 성북구
201 성북구
202 성북구
203 송파구
204 송파구
205 송파구
206 송파구
207 송파구
208 송파구
209 송파구
210 송파구
211 송파구
212 송파구
213 송파구
214 송파구
215 송파구
216 양천구
217 양천구
218 양천구
219 영등포구
220 영등포구
221 영등포구
222 영등포구
223 영등포구
224 영등포구
225 영등포구
226 영등포구
227 영등포구
228 영등포구
229 영등포구
230 영등포구
231 영등포구
232 영등포구
233 영등포구
234 영등포구
235 영등포구
236 영등포구
237 영등포구
238 영등포구
239 영등포구
240 영등포구
241 영등포구
242 영등포구
243 영등포구
244 영등포구
245 영등포구
246 영등포구
247 영등포구
248 영등포구
249 영등포구
250 영등포구
251 영등포구
252 영등포구
253 용산구
254 용산구
255 용산구
256 용산구
257 용산구
258 용산구
259 용산구
260 용산구
261 용산구
262 용산구
263 용산구
264 용산구
265 용산구
266 용산구
267 용산구
268 용산구
269 용산구
270 용산구
271 용산구
272 용산구
273 용산구
274 용산구
275 용산구
276 용산구
277 용산구
278 용산구
279 용산구
280 용산구
281 용산구
282 용산구
283 용산구
284 용산구
285 용산구
286 용산구
287 용산구
288 용산구
289 은평구
290 은평구
291 은평구
292 은평구
293 은평구
294 은평구
295 은평구
296 은평구
297 은평구
298 은평구
299 은평구
300 종로구
301 종로구
302 종로구
303 종로구
304 종로구
305 종로구
306 종로구
307 종로구
308 종로구
309 종로구
310 종로구
311 종로구
312 종로구
313 종로구
314 종로구
315 종로구
316 종로구
317 종로구
318 종로구
319 종로구
320 종로구
321 종로구
322 종로구
323 종로구
324 종로구
325 종로구
326 종로구
327 종로구
328 종로구
329 종로구
330 종로구
331 종로구
332 종로구
333 종로구
334 종로구
335 종로구
336 종로구
337 종로구
338 종로구
339 종로구
340 종로구
341 종로구
342 종로구
343 종로구
344 종로구
345 종로구
346 종로구
347 종로구
348 종로구
349 종로구
350 종로구
351 종로구
352 종로구
353 종로구
354 종로구
355 종로구
356 종로구
357 종로구
358 종로구
359 종로구
360 종로구
361 종로구
362 종로구
363 종로구
364 종로구
365 종로구
366 종로구
367 종로구
368 종로구
369 종로구
370 종로구
371 종로구
372 종로구
373 종로구
374 종로구
375 종로구
376 종로구
377 종로구
378 종로구
379 종로구
380 종로구
381 종로구
382 종로구
383 종로구
384 종로구
385 종로구
386 종로구
387 중구
388 중구
389 중구
390 중구
391 중구
392 중구
393 중구
394 중구
395 중구
396 중구
397 중구
398 중구
399 중구
400 중구
401 중구
402 중구
403 중구
404 중구
405 중구
406 중구
407 중구
408 중구
409 중구
410 중구
411 중구
412 중구
413 중구
414 중구
415 중구
416 중구
417 중구
418 중구
419 중구
420 중구
421 중구
422 중구
423 중구
424 중구
425 중구
426 중구
427 중구
428 중구
429 중구
430 중구
431 중구
432 중구
433 중구
434 중구
435 중구
436 중구
437 중구
438 중구
439 중구
440 중구
441 중구
442 중구
443 중구
444 중구
445 중구
446 중구
447 중구
448 중구
449 중구
450 중구
451 중구
452 중구
453 중구
454 중구
455 중구
456 중구
457 중구
458 중구
459 중구
460 중구
461 중랑구
462 중랑구
463 중랑구
464 중랑구
465 중랑구
466 중랑구

In [85]:
# gangnam 은 20년 이하 gangnam_은 전체 건물 수
# gangnam_ - gangnam 해야 20년 이상 나옴.

gangnam = 0
gangnam_ = 0
gangdong = 0
gangdong_ = 0
gangbuk = 0
gangbuk_ =0
gangseo = 0
gangseo_ = 0
gwanak = 0
gwanak_ = 0
gwangjin = 0
gwangjin_ = 0
guro = 0
guro_ = 0
geumcheon = 0
geumcheon_ = 0
nowon = 0
nowon_ = 0
dobong = 0
dobong_ = 0
dongdaemoon = 0
dongdaemoon_ = 0
dongjak = 0
dongjak_ = 0
mapo = 0
mapo_ =0
seodaemoon = 0
seodaemoon_ = 0
seocho = 0
seocho_ = 0
seongbuk = 0
seongbuk_ = 0
seongdong = 0
seongdong_ = 0
songpa = 0
songpa_ = 0
yangcheon = 0
yangcheon_ =0
yeongdeungpo = 0
yeongdeungpo_ =0
yongsan = 0
yongsan_ =0
eunpyeng = 0
eunpyeng_ = 0
jongno = 0
jongno_ = 0
jung = 0
jung_ =0
jungnang = 0
jungnang_ = 0

In [87]:
for i in aa.index:
    if i<14: #강남구 gangnam
        print(aa.loc[i,'구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            gangnam = gangnam+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            gangnam = gangnam+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            gangnam = gangnam+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            gangnam_ = gangnam_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<23: #강동구 gangdong
        print(1, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            gangdong = gangdong+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            gangdong = gangdong+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            gangdong = gangdong+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            gangdong_ = gangdong_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<27: #강북구 gangbuk
        print(2, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            gangbuk = gangbuk+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            gangbuk = gangbuk+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            gangbuk = gangbuk+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            gangbuk_ = gangbuk_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<40: #강서구 gangseo
        print(3, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            gangseo = gangseo+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            gangseo = gangseo+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            gangseo = gangseo+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            gangseo_ = gangseo_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<43: #관악구 gwanak
        print(4, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            gwanak = gwanak+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            gwanak = gwanak+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            gwanak = gwanak+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            gwanak_ = gwanak_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<50: #광진구 gwangjin
        print(5, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            gwangjin = gwangjin+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            gwangjin = gwangjin+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            gwangjin = gwangjin+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            gwangjin_ = gwangjin_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<60: #구로구 guro
        print(6, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            guro = guro+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            guro = guro+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            guro = guro+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            guro_ = guro_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<63: #금천구 geumcheon
        print(7, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            geumcheon = geumcheon+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            geumcheon = geumcheon+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            geumcheon = geumcheon+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            geumcheon_ = geumcheon_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<68: #노원구 nowon
        print(8, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            nowon = nowon+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            nowon = nowon+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            nowon = nowon+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            nowon_ = nowon_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<72: #도봉구 dobong
        print(9, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            dobong = dobong+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            dobong = dobong+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            dobong = dobong+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            dobong_ = dobong_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<82: #동대문구 dongdaemoon
        print(10, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            dongdaemoon = dongdaemoon+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            dongdaemoon = dongdaemoon+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            dongdaemoon = dongdaemoon+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            dongdaemoon_ = dongdaemoon_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<91: #동작구 dongjak
        print(11, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            dongjak = dongjak+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            dongjak = dongjak+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            dongjak = dongjak+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            dongjak_ = dongjak_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<117: #마포구 mapo
        print(12, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            mapo = mapo+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            mapo = mapo+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            mapo = mapo+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            mapo_ = mapo_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<137: #서대문구 seodaemoon
        print(13, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            seodaemoon = seodaemoon+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            seodaemoon = seodaemoon+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            seodaemoon = seodaemoon+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            seodaemoon_ = seodaemoon_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<147: #서초구 seocho
        print(14, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            seocho = seocho+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            seocho = seocho+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            seocho = seocho+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            seocho_ = seocho_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<164: #성동구  seongdong
        print(15, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            seongdong = seongdong+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            seongdong = seongdong+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            seongdong = seongdong+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            seongdong_ = seongdong_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<203: #성북구 seongbuk
        print(16, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            seongbuk = seongbuk+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            seongbuk = seongbuk+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            seongbuk = seongbuk+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            seongbuk_ = seongbuk_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<216: #송파구 songpa
        print(17, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            songpa = songpa+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            songpa = songpa+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            songpa = songpa+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            songpa_ = songpa_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<219: #양천구 yangcheon
        print(18, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            yangcheon = yangcheon+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            yangcheon = yangcheon+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            yangcheon = yangcheon+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            yangcheon_ = yangcheon_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<253: #영등포구 yeongdeungpo
        print(19, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            yeongdeungpo = yeongdeungpo+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            yeongdeungpo = yeongdeungpo+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            yeongdeungpo = yeongdeungpo+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            yeongdeungpo_ = yeongdeungpo_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<289: #용산구 yongsan
        print(20, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            yongsan = yongsan+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            yongsan = yongsan+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            yongsan = yongsan+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            yongsan_ = yongsan_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<300: #은평구 eunpyeng
        print(21, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            eunpyeng = eunpyeng+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            eunpyeng = eunpyeng+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            eunpyeng = eunpyeng+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            eunpyeng_ = eunpyeng_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<387: #종로구 jongno
        print(22, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            jongno = jongno+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            jongno = jongno+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            jongno = jongno+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            jongno_ = jongno_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    elif i<461: # jung
        print(23, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            jung = jung+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            jung = jung+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            jung = jung+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            jung_ = jung_+int(aa.loc[i, '합계'].strip().replace(',', ''))
            
    else: #중랑구 jungnang
        print(24, aa.loc[i, '구분.1'], aa.loc[i, '합계'])
        if (aa.loc[i, '10년미만'] == '  - '):
            pass
        elif (int(aa.loc[i, '10년미만'].strip().replace(',', '')) > 0):
            jungnang = jungnang+int(aa.loc[i, '10년미만'].strip().replace(',', ''))
        if(aa.loc[i, '10~15년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '10~15년미만'].strip().replace(',', '')) > 0):
            jungnang = jungnang+int(aa.loc[i, '10~15년미만'].strip().replace(',', ''))
        if(aa.loc[i, '15~20년미만'] == '  - '):
            pass
        elif(int(aa.loc[i, '15~20년미만'].strip().replace(',', '')) > 0):
            jungnang = jungnang+int(aa.loc[i, '15~20년미만'].strip().replace(',', ''))
        if(aa.loc[i, '합계'] == '  - '):
            pass
        elif(int(aa.loc[i, '합계'].strip().replace(',', '')) > 0):
            jungnang_ = jungnang_+int(aa.loc[i, '합계'].strip().replace(',', ''))

강남구   1,151
강남구   2,452
강남구   1,461
강남구   530
강남구   1,280
강남구   305
강남구   160
강남구   738
강남구   177
강남구   2,606
강남구   299
강남구   980
강남구   321
강남구   793
1 강동구   168
1 강동구   1,147
1 강동구   1,545
1 강동구   1,130
1 강동구   654
1 강동구   489
1 강동구   3,279
1 강동구   2,599
1 강동구   5,136
2 강북구   10,349
2 강북구   2,761
2 강북구   8,782
2 강북구   909
3 강서구   301
3 강서구   390
3 강서구   1,799
3 강서구   20
3 강서구   991
3 강서구   1,460
3 강서구   254
3 강서구   2,691
3 강서구   373
3 강서구   41
3 강서구   28
3 강서구   68
3 강서구   11,107
4 관악구   791
4 관악구   10,177
4 관악구   14,198
5 광진구   483
5 광진구   3,919
5 광진구   1,704
5 광진구   1,013
5 광진구   5,460
5 광진구   6,621
5 광진구   1,685
6 구로구   1,242
6 구로구   3,869
6 구로구   2,454
6 구로구   6,347
6 구로구   664
6 구로구   533
6 구로구   1,965
6 구로구   263
6 구로구   135
6 구로구   86
7 금천구   769
7 금천구   5,522
7 금천구   5,550
8 노원구   2,184
8 노원구   4,071
8 노원구   1,340
8 노원구   1,325
8 노원구   376
9 도봉구   2,214
9 도봉구   3,108
9 도봉구   3,702
9 도봉구   3,530
10 동대문구   2,231
10 동대문구   271
10 동대문구   2,316
10 동대문구   4,788
10 동대문구   2,445
10 동대문구   2,962
10 동대문구   3,009
10 동대문구   1,719
10 동대문구   846
10 동대문구   2,253
11 동작구   2,832
11 동작구   1,588
11 동작구   171
11 동작구   706
11 동작구   5,267
11 동작구   648
11 동작구   6,318
11 동작구   1,880
11 동작구   2,541
12 마포구   1,546
12 마포구   69
12 마포구   571
12 마포구   124
12 마포구   707
12 마포구   644
12 마포구   413
12 마포구   118
12 마포구   2,324
12 마포구   404
12 마포구   602
12 마포구   1,411
12 마포구   2,020
12 마포구   422
12 마포구   792
12 마포구   11
12 마포구   1,355
12 마포구   1,616
12 마포구   789
12 마포구   215
12 마포구   270
12 마포구   447
12 마포구   24
12 마포구   12
12 마포구   1,268
12 마포구   77
13 서대문구   1,470
13 서대문구   103
13 서대문구   160
13 서대문구   229
13 서대문구   82
13 서대문구   105
13 서대문구   2,657
13 서대문구   1,862
13 서대문구   100
13 서대문구   3,383
13 서대문구   168
13 서대문구   177
13 서대문구   897
13 서대문구   264
13 서대문구   108
13 서대문구   493
13 서대문구   34
13 서대문구   110
13 서대문구   3,484
13 서대문구   2,952
14 서초구   299
14 서초구   1,564
14 서초구   5,288
14 서초구   1,874
14 서초구   256
14 서초구   1,495
14 서초구   160
14 서초구   472
14 서초구   19
14 서초구   487
15 성동구   299
15 성동구   375
15 성동구   823
15 성동구   543
15 성동구   300
15 성동구   1,368
15 성동구   692
15 성동구   74
15 성동구   1,836
15 성동구   1,642
15 성동구   1,020
15 성동구   344
15 성동구   1,516
15 성동구   495
15 성동구   915
15 성동구   1,343
15 성동구   290
16 성북구   1,059
16 성북구   894
16 성북구   127
16 성북구   243
16 성북구   243
16 성북구   241
16 성북구   226
16 성북구   100
16 성북구   165
16 성북구   28
16 성북구   152
16 성북구   58
16 성북구   164
16 성북구   108
16 성북구   436
16 성북구   218
16 성북구   87
16 성북구   69
16 성북구   205
16 성북구   368
16 성북구   102
16 성북구   847
16 성북구   473
16 성북구   239
16 성북구   181
16 성북구   349
16 성북구   679
16 성북구   3,011
16 성북구   2,144
16 성북구   193
16 성북구   308
16 성북구   295
16 성북구   325
16 성북구   76
16 성북구   351
16 성북구   5,520
16 성북구   4,992
16 성북구   1,662
16 성북구   2,100
17 송파구   1,502
17 송파구   1,076
17 송파구   2,573
17 송파구   1,366
17 송파구   1,704
17 송파구   1,638
17 송파구   1,688
17 송파구   1,626
17 송파구   134
17 송파구   1,069
17 송파구   1,687
17 송파구   248
17 송파구   1,852
18 양천구   4,102
18 양천구   5,827
18 양천구   4,338
19 영등포구   492
19 영등포구   537
19 영등포구   114
19 영등포구   279
19 영등포구   201
19 영등포구   99
19 영등포구   224
19 영등포구   3,995
19 영등포구   1,705
19 영등포구   109
19 영등포구   87
19 영등포구   149
19 영등포구   213
19 영등포구   18
19 영등포구   25
19 영등포구   7,712
19 영등포구   135
19 영등포구   668
19 영등포구   147
19 영등포구   106
19 영등포구   297
19 영등포구   73
19 영등포구   103
19 영등포구   9
19 영등포구   99
19 영등포구   920
19 영등포구   97
19 영등포구   228
19 영등포구   33
19 영등포구   90
19 영등포구   222
19 영등포구   141
19 영등포구   255
19 영등포구   120
20 용산구   372
20 용산구   239
20 용산구   51
20 용산구   584
20 용산구   263
20 용산구   40
20 용산구   2,252
20 용산구   90
20 용산구   924
20 용산구   195
20 용산구   121
20 용산구   221
20 용산구   688
20 용산구   1
20 용산구   1,395
20 용산구   69
20 용산구   20
20 용산구   7
20 용산구   16
20 용산구   550
20 용산구   294
20 용산구   299
20 용산구   138
20 용산구   285
20 용산구   2,515
20 용산구   122
20 용산구   35
20 용산구   807
20 용산구   352
20 용산구   414
20 용산구   229
20 용산구   243
20 용산구   581
20 용산구   2,239
20 용산구   700
20 용산구   2,079
21 은평구   3,743
21 은평구   1,608
21 은평구   1,786
21 은평구   2,301
21 은평구   4,300
21 은평구   972
21 은평구   2,762
21 은평구   2,856
21 은평구   3,983
21 은평구   1,250
21 은평구   605
22 종로구   359
22 종로구   15
22 종로구   19
22 종로구   313
22 종로구   2
22 종로구   47
22 종로구   21
22 종로구   61
22 종로구   8
22 종로구   13
22 종로구   551
22 종로구   73
22 종로구   81
22 종로구   29
22 종로구   26
22 종로구   47
22 종로구   301
22 종로구   271
22 종로구   25
22 종로구   18
22 종로구   146
22 종로구   449
22 종로구   406
22 종로구   156
22 종로구   785
22 종로구   162
22 종로구   16
22 종로구   165
22 종로구   47
22 종로구   721
22 종로구   45
22 종로구   292
22 종로구   351
22 종로구   1
22 종로구   23
22 종로구   50
22 종로구   7
22 종로구   17
22 종로구   23
22 종로구   1,392
22 종로구   165
22 종로구   24
22 종로구   132
22 종로구   388
22 종로구   100
22 종로구   211
22 종로구   77
22 종로구   41
22 종로구   372
22 종로구   46
22 종로구   41
22 종로구   157
22 종로구   285
22 종로구   353
22 종로구   76
22 종로구   47
22 종로구   38
22 종로구   71
22 종로구   51
22 종로구   17
22 종로구   2
22 종로구   2
22 종로구   8
22 종로구   33
22 종로구   49
22 종로구   151
22 종로구   30
22 종로구   117
22 종로구   2,023
22 종로구   265
22 종로구   26
22 종로구   210
22 종로구   601
22 종로구   102
22 종로구   193
22 종로구   117
22 종로구   29
22 종로구   1,453
22 종로구   183
22 종로구   475
22 종로구   344
22 종로구   238
22 종로구   30
22 종로구   74
22 종로구   170
22 종로구   52
22 종로구   1
23 중구   115
23 중구   254
23 중구   1
23 중구   -
23 중구   2
23 중구   -
23 중구   28
23 중구   34
23 중구   134
23 중구   37
23 중구   137
23 중구   30
23 중구   22
23 중구   90
23 중구   68
23 중구   10
23 중구   11
23 중구   5
23 중구   14
23 중구   75
23 중구   27
23 중구   3
23 중구   -
23 중구   29
23 중구   167
23 중구   7
23 중구   19
23 중구   -
23 중구   11
23 중구   1
23 중구   43
23 중구   4,425
23 중구   247
23 중구   56
23 중구   134
23 중구   67
23 중구   8
23 중구   16
23 중구   97
23 중구   119
23 중구   83
23 중구   66
23 중구   35
23 중구   6
23 중구   6
23 중구   170
23 중구   202
23 중구   111
23 중구   2
23 중구   238
23 중구   495
23 중구   8
23 중구   30
23 중구   19
23 중구   163
23 중구   40
23 중구   399
23 중구   42
23 중구   5
23 중구   17
23 중구   28
23 중구   112
23 중구   49
23 중구   8
23 중구   3
23 중구   47
23 중구   59
23 중구   167
23 중구   214
23 중구   748
23 중구   278
23 중구   168
23 중구   34
23 중구   43
24 중랑구   3,836
24 중랑구   10,478
24 중랑구   2,600
24 중랑구   2,184
24 중랑구   802
24 중랑구   3,621

In [91]:
print(gangnam, gangnam_)
print(1,gangdong, gangdong_)
print(2,gangbuk, gangbuk_)
print(3,gangseo, gangseo_)
print(4,gwanak, gwanak_)
print(5,gwangjin, gwangjin_)
print(6,guro, guro_)
print(7,geumcheon, geumcheon_)
print(8,nowon, nowon_)
print(9,dobong, dobong_)
print(10,dongdaemoon, dongdaemoon_)
print(11,dongjak, dongjak)
print(12,mapo, mapo_)
print(13,seodaemoon, seodaemoon_)
print(14, seocho, seocho_)
print(15,seongbuk, seongbuk_)
print(16,seongdong, seongdong_)
print(17,songpa, songpa_)
print(18,yangcheon, yangcheon_)
print(19,yeongdeungpo, yeongdeungpo_)
print(20,yongsan, yongsan_)
print(21,eunpyeng, eunpyeng_)
print(22,jongno, jongno_)
print(23,jung, jung_)
print(24,jungnang_ - jungnang, jungnang_)

10220 26506
1 9300 32294
2 8704 45602
3 14942 39046
4 13696 50332
5 11680 41770
6 7876 35116
7 5124 23682
8 4708 18592
9 5918 25108
10 6454 45680
11 10132 10132
12 8870 36502
13 7202 37676
14 8254 23828
15 9134 58076
16 3622 27750
17 15142 36326
18 7978 28534
19 5362 39404
20 5204 38860
21 15208 52332
22 4870 34408
23 2004 21276
24 36710 47042

In [56]:
# 이 둘의 차이는 무엇일까...

In [14]:
# gu안에 key로 구 이름을 넣고 key에 구가 있으면 value에 값을 추가하고 싶음.
# 프로그래밍 3에서 비슷하거 배웠던 것 같음. 참고하면 좋을 듯

gu = {}
for i in year.iloc[:, 0]:
    if(i in gu):
        gu[i] = gu[i]

In [15]:
print(year.iloc[:, [1]])

    Unnamed: 2
4          개포동
5          개포동
6          개포동
7          개포동
8          개포동
..         ...
110        청담동
111        청담동
112        청담동
113        청담동
114        청담동

[111 rows x 1 columns]

In [16]:
ddd = pd.read_csv("fire.txt", delimiter = '\t', keep_default_na=False)

In [17]:
ddd

,기간,자치구,발생,발생.1,발생.2,발생.3,소실,소실.1,소실.2,피해액,피해액.1,피해액.2,재산피해경감액,인명피해,인명피해.1,인명피해.2,이재민수,구조인원
0,기간,자치구,합계,실화,방화,기타,동수(동),이재가구수(가구),면적(㎡),합계,부동산,동산,재산피해경감액,합계,사망,부상,이재민수,구조인원
1,2015,합계,"5,921","5,191",195,535,699,97,"53,787","14,337,272","6,079,645","8,257,627","518,364,712",249,27,222,223,414
2,2015,종로구,260,226,10,24,8,3,"1,462","566,923","203,662","363,261","13,229,001",9,4,5,3,5
3,2015,중구,237,215,5,17,8,19,"1,271","570,265","211,366","358,899","9,997,862",2,-,2,19,28
4,2015,용산구,187,158,4,25,2,1,549,"402,794","156,875","245,919","12,695,854",3,-,3,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,2018,관악구,337,295,15,27,109,11,"1,772","816,562","395,475","421,087","9,952,527",21,1,20,21,53
101,2018,서초구,242,210,6,26,48,3,"2,223","848,067","201,149","646,918","18,257,199",15,-,15,3,63
102,2018,강남구,436,399,7,30,134,1,"1,631","1,624,983","670,429","954,554","87,651,462",23,-,23,1,36
103,2018,송파구,340,301,7,32,84,16,"2,717","970,251","390,994","579,257","16,546,317",28,-,28,42,99
104,2018,강동구,324,297,14,13,59,8,"3,358","540,625","236,181","304,444","7,235,347",19,4,15,19,26

In [18]:
dd = pd.read_csv("firefighter.txt", delimiter = '\t', keep_default_na=False)

In [19]:
dd

       기간     구분          인구 소방서 소방서 1개소당 담당인구  소방공무원 소방공무원1인당담당인구
0    2015  서울특별시  10,022,181  23       435,747  6,301        1,591
1    2015    종로구     154,986   1       154,986    292          531
2    2015     중구     125,733   1       125,733    273          461
3    2015    용산구     233,342   1       233,342    250          933
4    2015    성동구     297,003   -             -      -            -
..    ...    ...         ...  ..           ...    ...          ...
99   2018    관악구     501,957   1       501,957    262        1,916
100  2018    서초구     433,951   1       433,951    306        1,418
101  2018    강남구     542,364   1       542,364    355        1,528
102  2018    송파구     666,635   1       666,635    318        2,096
103  2018    강동구     427,573   1       427,573    266        1,607

[104 rows x 7 columns]

In [20]:
dddd = pd.read_csv("population.txt", delimiter = '\t', keep_default_na=False)

In [21]:
dddd

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2015,합계,"4,189,948","10,297,138","5,063,550","5,233,588","10,022,181","4,930,943","5,091,238","274,957","132,607","142,350",2.39,"1,267,563"
3,2015,종로구,"72,645","163,822","80,531","83,291","154,986","76,548","78,438","8,836","3,983","4,853",2.13,"24,892"
4,2015,중구,"59,321","134,329","66,755","67,574","125,733","62,687","63,046","8,596","4,068","4,528",2.12,"20,302"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2018,관악구,"262,222","520,040","260,742","259,298","501,957","252,160","249,797","18,083","8,582","9,501",1.91,"72,249"
102,2018,서초구,"172,918","438,163","209,977","228,186","433,951","207,868","226,083","4,212","2,109","2,103",2.51,"54,751"
103,2018,강남구,"228,775","547,453","262,203","285,250","542,364","259,611","282,753","5,089","2,592","2,497",2.37,"67,085"
104,2018,송파구,"270,866","673,507","326,849","346,658","666,635","323,526","343,109","6,872","3,323","3,549",2.46,"81,364"
105,2018,강동구,"177,247","431,920","213,853","218,067","427,573","211,816","215,757","4,347","2,037","2,310",2.41,"58,770"

In [1]:
# 기후데이터, 화재데이터, 노후도데이터,

In [35]:
gangnamgu =  a.iloc[1:112, [1,2,4]]

In [51]:
sum = 0
for i in gangnamgu.iloc[:, [2]]:
    if(int(i) > 0):
        sum = sum + int(i)

ValueError: invalid literal for int() with base 10: 'Unnamed: 4'

In [67]:
for i in range(112):
    gangnamgu.iloc[i, [2]].replace("-", "0")

IndexError: single positional indexer is out-of-bounds

In [63]:
sum = 0
for i in range(112):
    print(int(gangnamgu.iloc[i, [2]]))
    sum = sum + int(gangnamgu.iloc[i, [2]])

35
35
35
245
78
36
2
244
185
272
150
411
292
358
3
84
109
148
95
181
93
136
2
32
45
59
61
170
69
49

ValueError: invalid literal for int() with base 10: '  - '

In [68]:
gangnamgu = gangnamgu.apply((pd.to_numeric)

SyntaxError: unexpected EOF while parsing (<ipython-input-68-c6f1385ac9fd>, line 1)

In [93]:
type(gangnamgu)

NameError: name 'gangnamgu' is not defined